* {
  margin: 0;
  padding: 0;
}
.logo {
  width: 150px;
  height: 40px;
  object-fit: cover;
}
.nav {
  display: flex;
  gap: 30px;
  list-style: none;
  font-weight: 550;
}
.nav li a {
  text-decoration: none;
  color: black;
}

.big-div {
  display: flex;
  gap: 100px;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  background-color: white;
}
.dropdown {
  background-color: green;
  color: white;
  padding: 12px;
  align-content: center;
  border: transparent;
}
.dropdown select {
  background-color: green;
  color: white;
  border: transparent;
}
.header {
  background: url("Images/pexels-rahmadhimawan-31949547.jpg");
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.527);
  height: 34.2vh;
  color: white;
  text-align: center;
  padding-top: 230px;
}
.home-arrow {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size: 16px;
}
.h1 {
  font-size: 60px;
}
.home-arrow h3 {
  font-weight: 400;
  padding-top: 20px;
}
.second-image {
  width: 800px;
  height: 300px;
  object-fit: cover;
}
.body-section {
  padding: 50px;
  margin: 20px;
  display: flex;
  gap: 100px;
}
